@{
  ViewData["Title"] = "Why are PIVX transactions so cheap on MyPIVXWallet?";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<article class="block block__content clearfix" itemscope="" itemtype="http://schema.org/Article">
	<div class="content">
		<p>Other wallets or exchanges might charge you high amounts of PIVX for sending or withdrawing, which can be up to a few USD. The default minimum fee in the PIVX full wallet is 10 PIVX/kb, but you can even get away with zero fees right now.</p>
		<p>MyPIVXWallet is non-profit, there are no hidden fees and what you pay is used to pay the stakers automatically when the transaction is created and accepted in the blockchain, nothing ends up anywhere else.</p>
		<h3>Zero or Tiny fees</h3>
		<p>Anyway, you will only pay this super tiny fee or nothing at all as long as zero tx fee work in PIVX. Worst case is about 0.001 PIVX per tx, which is less than 1/50 of a cent right now (yes, that is up to 50 transactions per single cent). This fee does NOT depend on the amount you send, but it is not always the same and depends on how much data your transaction contains (multiple inputs if your wallet is fragmented drive the price up, see examples below).</p>
		@*<h3>Optional extra features</h3>
		<p><a href="/AboutInstantSend">SwiftX</a> has a fixed tx cost of 0.1 PIVX per input, which amounts to about 10 cents right now. The advantage is that your transaction is accepted and locked in about 1 second, which is very cool and useful for quick purchases. Obviously due to the higher cost this is off by default.</p>
		<h3>Receiving PIVX</h3>
		<p>Receiving PIVX on any address you own is free for you, the transaction fee is always paid for by the sender. You also don't need to wait long as transactions are confirmed in a few seconds usually. If ShiftTX was used by the sender the PIVX amount will be confirmed by the network in a second and should show up in a couple of seconds on MyPIVXWallet as well. The website will update amounts every 10 seconds, any PIVX you receive is yours and usable right way.</p>
		<h3>Recap</h3>
		<ul>
			<li>Tx cost is usually 0.001 PIVX for one input and two outputs (minimum to get accepted by the PIVX network, if this goes up or the network becomes full, this fee will be increased). This is currently just around 0.02 cents, NO MATTER how much PIVX you actually send to someone!</li>
			@*<li>For SwiftTX the tx fee is locked to 0.1 PIVX ≈ 2 cents per input by design, but you get confirmed in a second.</li>
		<li>By default SwiftX is not used and micro-payments are possible with a neglegtible fee, why not send your friends 1 cent of PIVX just for fun?</li>*@
			<li>
				If you have multiple inputs (basically when your PIVX is fragmented in multiple chunks you have received and you send more than you have in your single inputs) the tx fee increases. Examples:<ul>
					<li>Inputs: 150 PIVX -> sending 100 PIVX: 0.001 PIVX fee (1 input), or zero fee if possible</li>
					<li>Inputs: 100 PIVX, 100 PIVX -> sending 100 PIVX: 0.002 PIVX fee (2 inputs: 0.001+0.001*2 PIVX, need that second input to cover the fee, use zero fee to avoid this alltogether)</li>
				</ul>
			</li>
			<li>Please ask for more features in the <a href="https://discord.gg/eEq87Pc">PIVX Discord Chat</a>. We need your support to keep this being funded and developed further!</li>
		</ul>
		<br /><br />
		Back to the <a href="/About">general help</a>.
	</div>
</article>